.about-container{
    width: 60%;
    background-color: white;
    margin: 1.25rem auto;
    padding: 1.25rem 3rem;
}

.about-us-header{
    text-align: center;
}

.about-us-title {
    color: #323A49;
    margin-top: 3rem;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.about-us-title:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #090909;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.about-us-title:hover:after{
    width: 100%;
    left: 0;
}

.about-us-subtitle {
    color: #606671;
    margin-bottom: 0rem;
}

.about-us-values-content {
    margin-top: 0.5rem;
}
