.DashboardHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #E9EBF8;
    margin-bottom: 0;
    width: 100%;

}

.DashboardHeaderText {
    width: min-content;
    position: relative;
    left: 30%;
    font-family: inherit;
}

@media screen and (min-width: 360px) and (max-width: 820px) {
    
    .DashboardHeader{
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .DashboardHeaderText{
        left: 0%;
        padding-right: 1.5rem;
    }

}