.sect3-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2rem 0;
    margin-top: 0;
}

.sect3-card {
    text-align: center;
}

.work-card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.steps-card {
    margin: 1rem 2rem;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    color: #17262B;
    width: 20%;
}

.steps-card > img {
    transform: scale(1.25);
}

.card-title {
    margin: 15px 0;
    font-weight: 900;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
}

.card-para {
    width: 18rem;
    margin: 0;
    font-weight: normal;
    font-size: 1.15rem;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #34AFAA;
    margin: auto;
}



@media screen and (min-width: 360px) and (max-width: 820px) {
    .sect3-div {
        width: 100vw;
        box-sizing: border-box;
    }

    .sect3-header {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .work-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .steps-card {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps-card img {
        width: 10%;
        display: flex;
        margin: auto;
    }

    .card-title {
        font-size: 14px;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .card-para {
        font-size: 9px;
        width: 100%;
    }
}