.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    align-items: center;
    background-color: #34AFAA;
    box-sizing: border-box;
}



.navbar-links {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    width: 30vw;
}

.navbar-sandwich {
    display: inline-block;
    display: none;
}



@media screen and (max-width: 820px) {

    .navbar {
        flex-direction: column;
        padding: 0.75rem 1rem;
        margin: 0;
        margin-bottom: 0;
    }

    .navbar-logo {
        font-size: 0.75rem;
        margin-left: 2rem;
    }

    .navbar-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-sandwich {
        display: block;
        margin-top: 0.5rem;
        margin-right: 1.5rem;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        list-style-type: none;
        width: 100vw;
        background-color: #34AFAA;
        display: none;
        font-size: 0.75rem;
        color: #17262B;
        margin-left: 1rem;

    }

}