.DashboardHero {
    text-align: start;
    position: sticky;
    top:10%;
    color: #212427;
    overflow-x: none;
}

@media screen and (max-width: 820px) {

    .DashboardHero {
        display: block;
        position: absolute;
        top: 6%;
        width: 90vw;
        padding: 0;
    }
    
}
