.wave {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, sandybrown, chocolate); */
    height: 50px;
    position: relative;
    margin-bottom: 20px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat-x;
    }

    &::before {
        height: 10px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, #E9EBF8 13px);
    }

    &::after {
        height: 15px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, #E9EBF8 12px, transparent 13px);
    }
}

.hero-div {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    background-color: #34AFAA;
    color: #17262B;
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-card-bg {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-card {
    width: 45rem;
    position: relative;
    padding: 2rem;
    margin-left: 2rem;
    color: inherit;
}

.hero-card h1 {
    width: 50rem;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    font-weight: 900;
    font-size: 4.3rem;
    margin-bottom: 1rem;
}

.hero-card p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.01em;
    width: 38rem;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



@media screen and (max-width: 820px) and (min-width: 320px) {
    .bg-img {
        width: 100vw;
        background-size: contain;
        height: 35vh;
    }

    .hero-btn {
        font-size: 0.5rem;
        padding: 0.5rem 0.75rem;
        position: relative;
        top: 3%;
        left: 75%;
        color: white;
        border-radius: 0.5rem;
    }

    .hero-card-bg{
        width: 40%;
        height: fit-content;
        padding: 0rem 0.5rem 0 0;
        position: absolute;
        top: 21%;
        left: 12%;
    }

    .hero-card {
        width: max-content;
        padding: 0;
        margin-left: 0;
    }

    .hero-card h1 {
        font-size: 17px;
        width: 32%;
    }

    .hero-card h1 span {
        display: inline;
    }

    .hero-card p {
        width: 30%;
        font-size: 8px;
        margin-top: 0.2rem;
    }
}

